.wrapper {
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
}

.wrapper > source,
.wrapper > img {
  width: inherit;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

.sm {
  width: 80px;
  height: 80px;
}

.md {
  width: 100px;
  height: 100px;
}

.dummy {
  border-radius: var(--border-radius-md);
  background-color: var(--color-earth);
}
