.outer {
  padding-bottom: 1rem;
}

.outer>*:first-child {
  /* ページの先頭の余白を調整する */
  margin-top: 2rem;
}

.outer h1 {
  margin-top: 4rem;
  margin-bottom: .5rem;
}

.outer h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-earth-light);
}

.outer h3 {
  margin-top: 3rem;
  margin-bottom: .5rem;
}

.outer p {
  line-height: 2rem;
}

.outer img {
  width: 100%;
}

.outer pre {
  overflow-x: auto;
}

/* 見出しとの余白は狭めにする、それ以外は普通の余白を開ける */
.outer :not(h1, h2, h3)+p {
  margin-top: 1.5rem;
}

.outer a {
  color: var(--color-link);
}

.outer ul {
  margin-top: 1.2rem;
  padding-left: var(--space-x-lg);
  list-style-type: disc;
}

.outer ul li {
  margin-top: var(--space-y-sm);
}

.outer blockquote {
  margin-top: var(--space-y-md);
  padding: 0 1em;
  color: var(--color-gray-dark);
  border-left: 0.25em solid var(--color-space-gray-light);
  font-family: var(--font-monospace);
}

.outer code {
  background-color: #dfeef1e0;
  padding: 3px 8px;
  border-radius: 4px;
  font-family: var(--font-monospace);
}
