.post-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 16px 32px 24px;
}

.post-headers {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.post-title {
  font-size: var(--font-size-xl);
  max-width: 200px;
}

.post-meta-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
