.outer {
  padding: .75rem 0;
}

.inner {
  padding: 0 .125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--color-white);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.about {
  color: var(--color-white);
}
