.outer {
  display: flex;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.thumbnail_dummy {
  background-color: var(--color-sushi);
  width: 5rem;
  height: 5rem;
  border-radius: .375rem;
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.title:hover {
  color: var(--color-link);
}

.tags>:not([hidden])~:not([hidden]) {
  margin-left: .75rem;
}

.tag {
  padding: .5rem 1rem;
  border-radius: .375rem;
  color: var(--color-gray-dark);
}
