.outer {
  padding: .75rem 0;
}

.inner {
  padding: 0 .125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  margin-left: 3px;
}

.about {
  color: var(--color-base);
  font-weight: bold;
  font-size: 18px;
}
