.outer {
  display: flex;
  padding: 1em 0;
}

.thumbnail {
  flex: 0 1 auto;
}

.inner {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.title {
  color: var(--color-base);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.title:hover {
  color: var(--color-link);
}

/* --- */

.details {
  width: 100%;
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: var(--space-x-sm);
}

.published_at {
  color: var(--color-gray-dark);
}
