.post-meta-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-meta-item-title {
  color: var(--color-space-gray);
  font-size: var(--font-size-sm);
  font-weight: bold;
}

.post-meta-item-content {
  color: var(--color-base);
}
